<div class="news-form">
  <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
  <div *ngIf="displaySuccess" class="news-form__row-success">
    Successfully {{ isEditMode ? 'updated' : 'created' }} news !
  </div>
  <div *ngIf="displayError" class="news-form__row-error">
    Something went wrong:
    <div *ngFor="let error of errors">{{error}}</div>
  </div>
  <form [formGroup]="newsForm" [ngClass]="isLoading ? 'form-disabled' : ''" class="news-form__form"
        (ngSubmit)="onSubmit()">
    <div class="news-form__row">
      <label for="title">Title: </label>
      <input id="title" type="text" formControlName="title" [maxlength]="titleMaxLength">
      <span *ngIf="newsForm.controls.title.touched && newsForm.controls.title.invalid"
            class="news-form__error-message">Please add title</span>
      <span class="news-form__row-counter">{{ newsForm.value.title?.length }}/{{titleMaxLength}}</span>
    </div>
    <div class="news-form__row">
      <label for="content">Content: </label>
      <textarea id="content" type="text" formControlName="content">
      </textarea>
      <span *ngIf="newsForm.controls.content.touched && newsForm.controls.content.invalid"
            class="news-form__error-message">Please add content</span>
      <span class="news-form__row-counter">{{ newsForm.value.content?.length }}</span>
    </div>
    <button type="submit" [disabled]="!newsForm.valid || isLoading" class="news-form__submit-button">
      {{ isEditMode ? 'Update' : 'Create' }}
    </button>
  </form>
</div>
