@import "src/styles";

.navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1.25rem;
}

.navbar__logo {
  flex: 1;
}

.navbar__link-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 4;

  & > .navbar__link {
    padding-top: 5px;
  }
}

.navbar__link-group--dropdown {
  flex-direction: column;
  overflow-y: hidden;

  & > .navbar__link {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.2);
  }
}

.navbar__link {
  color: $text;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
}

.navbar__link--logo {
  font-size: 1.5rem;
}

.navbar__menu-button {
  align-self: flex-end;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.navbar__button {
  @include btn();
  background-color: $background;
  padding: 0.25rem 0 0;

  &:hover {
    background: $background;
  }
}

//
//@keyframes example {
//  from {
//    max-height: 0;
//  }
//  to {
//    max-height: 500px;
//  }
//}
//
//.navbar__link-group--dropdown {
//  animation-name: example;
//  animation-timing-function: ease-in-out;
//  animation-duration: 2s;
//  overflow: hidden;
//}
