<nav class="navbar">
  <div class="navbar__logo">
    <a [routerLink]="['']" class="navbar__link navbar__link--logo">
      Privacare
    </a>
  </div>

  <div *ngIf="!isDropdownAvailable" class="navbar__link-group">
    <a [routerLink]="['news']" class="navbar__link">
      News
    </a>
    <a [routerLink]="['appointment/slots']" class="navbar__link">
      Appointments
    </a>
    <a *ngIf="(isAdmin$ | async)" [routerLink]="['task']" class="navbar__link">
      Tasks
    </a>
    <a *ngIf="(isAdmin$ | async)" [routerLink]="['note']" class="navbar__link">
      Notes
    </a>
    <a [routerLink]="[showLogin ? 'auth/login' : null]" (click)="!showLogin ? onLogout() : null" class="navbar__link">
      {{showLogin ? 'Login' : 'Logout'}}
    </a>
  </div>
  <button *ngIf="isDropdownAvailable" [disabled]="isAnimating" (click)="toggleDropdown()" class="navbar__button">
    <img src="assets/hamburger.png" alt="dropdown menu button"
         class="navbar__menu-button">
  </button>
</nav>
<div *ngIf="showDropdown"
     [@InOutAnimation]="showDropdown"
     (@InOutAnimation.start)="onAnimationStart($event)"
     (@InOutAnimation.done)="onAnimationDone($event)"
     class="navbar__link-group navbar__link-group--dropdown">
  <a #news (click)="toggleDropdown()" [routerLink]="isAnimating ? null : 'news'"
     class="navbar__link">
    News
  </a>
  <a #appointment (click)="toggleDropdown()" [routerLink]="isAnimating ? null : 'appointment/slots'"
     class="navbar__link">
    Appointments
  </a>
  <a *ngIf="showAdminLinks" #task (click)="toggleDropdown()" [routerLink]="isAnimating ? null : 'task'"
     class="navbar__link">
    Tasks
  </a>
  <a *ngIf="showAdminLinks" #note (click)="toggleDropdown()" [routerLink]="isAnimating ? null : 'note'"
     class="navbar__link">
    Notes
  </a>
  <a #login (click)="showLogin ? toggleDropdown() : onLogoutMobile()"
     [routerLink]="isAnimating || !showLogin ? null : 'auth/login'"
     class="navbar__link">
    {{showLogin ? 'Login' : 'Logout'}}
  </a>
</div>

