<nav class="navbar">
  <div class="navbar__logo">
    <a [routerLink]="['']" class="navbar__link navbar__link--logo">
      Privacare
    </a>
  </div>

  <div *ngIf="!isDropdownAvailable" class="navbar__link-group">
    <a [routerLink]="['news']" class="navbar__link">
      News
    </a>
    <a [routerLink]="['task']" class="navbar__link">
      Tasks
    </a>
    <a [routerLink]="['note']" class="navbar__link">
      Notes
    </a>
  </div>
  <button *ngIf="isDropdownAvailable" (click)="toggleDropdown()" class="navbar__button">
    <img src="assets/hamburger.png" alt="dropdown menu button"
         class="navbar__menu-button">
  </button>
</nav>
<div *ngIf="showDropdown && isDropdownAvailable" [@inAnimation]="showDropdown"
     class="navbar__link-group navbar__link-group--dropdown">
  <a [routerLink]="['news']" class="navbar__link">
    News
  </a>
  <a [routerLink]="['task']" class="navbar__link">
    Tasks
  </a>
  <a [routerLink]="['note']" class="navbar__link">
    Notes
  </a>
</div>
