@import "src/styles";

.navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1.25rem;
}

.navbar__logo {
  flex: 1;
}

.navbar__link-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 4;

  & > .navbar__link {
    padding-top: 5px;
  }
}

.navbar__link {
  color: $text;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  text-align: end;
}

.navbar__link--logo {
  font-size: 1.5rem;
}

