@import "src/styles";

$paginator-height: 90px;
$spinner-margin: 2rem;

mat-paginator {
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
  color: #3b3b3b;
}

.container__mat-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc($spinner-margin / 2);
  margin-bottom: calc($spinner-margin / 2);
  height: calc(100% - $paginator-height - $navbar-height - $spinner-margin);
}

.news__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.news__add-button {
  @include btn();
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
