mat-paginator {
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
  color: #3b3b3b;
}

.container__mat-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: calc(80% - 56px);
}
