<div *ngIf="isLoading" class="container__mat-spinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<ng-container *ngIf="!isLoading">
  <div *ngIf="(isAdmin$ | async)" class="news__row">
    <button class="news__add-button" [routerLink]="['add']">Add <span style="font-size: 1.5rem">+</span></button>
  </div>
  <app-news-card *ngFor="let n of news" [news]="n"></app-news-card>
</ng-container>
<mat-paginator
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[3,5,10]"
  [pageSize]="pageSize"
  (page)="onChangePage($event)"
  aria-label="Select page">
</mat-paginator>
