<div class="add-news">
  <mat-spinner *ngIf="onLoad" diameter="50"></mat-spinner>
  <div *ngIf="displaySuccess" class="add-news__row-success">
    Successfully added news !
  </div>
  <div *ngIf="displayError" class="add-news__row-error">
    Something went wrong:
    <div *ngFor="let error of errors">{{error}}</div>
  </div>
  <form [formGroup]="newsForm" [ngClass]="onLoad ? 'form-disabled' : ''" class="add-news__form" (ngSubmit)="onSubmit()">
    <div class="add-news__row">
      <label for="title">Title: </label>
      <input id="title" type="text" formControlName="title" [maxlength]="titleMaxLength">
      <span *ngIf="newsForm.controls.title.touched && newsForm.controls.title.invalid"
            class="add-news__error-message">Please add title</span>
      <span class="add-news__row-counter">{{ newsForm.value.title?.length }}/{{titleMaxLength}}</span>
    </div>
    <div class="add-news__row">
      <label for="content">Content: </label>
      <textarea id="content" type="text" formControlName="content">
      </textarea>
      <span *ngIf="newsForm.controls.content.touched && newsForm.controls.content.invalid"
            class="add-news__error-message">Please add content</span>
      <span class="add-news__row-counter">{{ newsForm.value.content?.length }}</span>
    </div>
    <button type="submit" [disabled]="!newsForm.valid || onLoad" class="add-news__submit-button">Submit</button>
  </form>
</div>
