<div class="container">
  <div class="news-card">
    <div class="news-card__row-group">
      <div class="news-card__creator-name">
        @{{news.creatorFullName}}
      </div>
      <div class="news-card__date">
        {{news.createdAt | date: 'dd/MM/yyyy - HH:mm'}}
        <img src="assets/dots.png" alt="dots menu" [matMenuTriggerFor]="menu"
             class="news-card__menu-button">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit()">Edit</button>
          <button mat-menu-item (click)="onDelete()">Delete</button>
        </mat-menu>
      </div>
    </div>
    <div class="news-card__title">
      {{news.title}}
    </div>
    <p class="news-card__content">
      {{news.content.length > contentLengthThreshold && !seeMore ?
      (news.content | slice : 0 : contentLengthThreshold) + "..."
      : news.content}}
    </p>
    <div class="news-card__button-group">
      <button *ngIf="news.content.length > contentLengthThreshold && !seeMore" (click)="toggleContent()"
              class="news-card__button">
        See more
      </button>
      <button *ngIf="seeMore" (click)="toggleContent()" class="news-card__button">
        Hide
      </button>
    </div>
  </div>
</div>
