<form class="search-form">
  <mat-form-field class="search-form__input">
    <mat-label>Pesel</mat-label>
    <input type="text"
           placeholder="Choose one"
           aria-label="Pesel"
           matInput
           [formControl]="searchControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                      (optionSelected)="optionSelected($event)"
                      [displayWith]="displayInput">
      <mat-option *ngFor="let user of users" [value]="user">
        {{user.name}}
        {{user.surname}}
        {{user.pesel}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<div *ngIf="!notes || notes.length ===0" class="container__mat-spinner">
  <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
  <div *ngIf="!notes || notes.length ===0 && !isLoading">
    There are no available notes yet
  </div>
</div>
<div *ngIf="selectedPatient.id && !isLoading">
  <div class="note__row">
    <button class="note__add-button" [routerLink]="['add']" [queryParams]="{patientId: selectedPatient.id}">
      Add <span style="font-size: 1.5rem">+</span>
    </button>
  </div>
</div>
<div *ngFor="let note of notes">
  <app-note-card [note]="note"></app-note-card>
</div>
