<div class="task-form">
  <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

  <form [formGroup]="taskForm" class="task-form__form" (ngSubmit)="onSubmit()"
        [ngClass]="isLoading ? 'form-disabled':''">
    <label for="content">New task: </label>
    <div class="task-form__row">
      <button type="submit" [disabled]="!taskForm.valid  || isLoading" class="task-form__submit-button">
        +
      </button>
      <input autocomplete="off" id="content" type="text" formControlName="content">
    </div>
    <div *ngIf="taskForm.controls.content.touched && taskForm.controls.content.invalid"
         class="task-form__error-message">Please add content
    </div>
  </form>
</div>
