.container__mat-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

mat-tab {
  height: 100%;
}

//.test {
//  display: flex;
//  align-items: center;
//  flex-direction: column;
//  height: 100%;
//  align-self: center;
//}
